* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ccc;

    height: 100%;
}

body {
    border: 1px solid black;
    background-color: white;

    width: 800px;
    height: 100%;
    margin: auto;
}

header {
    display: none;
    border: 1px solid red;
}

main {
    border: 1px solid red;
    height: 100%;
}

article {
    border: 1px solid green;

    width: 100%;
    height: 33.33%;

    display: flex;
    flex-direction: row;
}

.image-container {
    border: 1px solid blue;

    width: 50%;
}

.text-container {
    border: 1px solid blue;

    width: 50%;
}

footer {
    display: none;
    border: 1px solid red;
}

